
<!DOCTYPE html>

<!-- <div id="Siltek-main"> -->
    
<div class="contents-layout">
	<div class="Siltek-content-layout">
    
        <img width="700" height="23" alt=""  src="../../assets/Aptitude%20test.jpg"><br><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br>An Aptitude test is a written evaluation of a candidate's basic skills of Quantitative Aptitude, Logic, Reasoning and English.</span><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Quantitative Aptitude</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">It is a test of one's reasoning ability on mathematical skills and the comprehension of mathematical concepts. This section contains questions on Number Systems, Arithmetic, Geometry, Algebra etc. This section may also include elucidation of a given graphic or tabular format.</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt;  text-align: justify;"><span style="font-weight: bold;  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Logical Reasoning</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;  text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">This tests the competence of a student to deduce information from the given data. The data may include various mind stimulators such as puzzles, riddles, syllogisms (deductive logic), critical reasoning (inductive logic) etc.</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;  text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;   text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;  text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;  text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;  text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;  text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px;  text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><br>
        <p>
        </p>
    </div>
    </div>




<!-- </div> -->


