
<!DOCTYPE html>

<!-- <div id="Siltek-main"> -->
    
    <div class="contents-layout">
	<div class="Siltek-content-layout">
        <p><img width="700" height="23" alt=""  src="../assets/campus%20recruit%20ent%20image.jpg"><br><span style=" font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Every student aspires to make it big in the corporate world. However, not everyone gets to start the career on a promising note. Most students suffer from a mix of under-skilled and under-exposed. Under-skilled refers to the situation where the student does not have the right skills that industry is looking for. These skills could be a mix of behavioral, communication, cognitive or technical in nature. Under-exposed refers to the situation where student has the requisite skill-set but is not able to connect to the right organization that needs candidates with that skill-set.</span><br></p><p style=" text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">So it is a necessity that the students are made aware of the existing benchmarks so that they equip themselves with the right industry-relevant knowledge that would get them their dream jobs. Exposure to the nuances of behavioral, communicative as well as technical skill-sets gives the students an edge in the selection procedure of any company as it gives them the ability to prove their abilities to the organization.</span></p><p style=" text-align: justify;"><span style="line-height: 20px;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek Campus Recruitment Training</span></b>&nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">provides specialized career training for technical, management colleges, universities and leading educational institutions. Our trained professionals provide guided programs to raise the level of proficiency, professionalism and effectiveness within the institution, the student body or the continuing education community.</span></span></p><p style="padding-left: 20px; "><span style=" font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek’s CRT entails the following:</span></p><p style="padding-left: 280px;"><img width="15" height="14" alt=""  src="../assets/bullet.jpg">&nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">Aptitude Test</span><br></p><p style="padding-left: 280px;"><img width="15" height="14" alt=""  src="../assets/bullet-2.jpg">&nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">Group Discussion Process</span><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p style="padding-left: 280px;"><img width="15" height="14" alt=""  src="../assets/bullet-3.jpg">&nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">Interview Skills</span><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><br></span></p><p><br></p><p><br></p><p><br></p><p><br></p>
    </div>
    </div>




<!-- </div> -->



