
<!DOCTYPE html>

<!-- <div id="Siltek-main"> -->
    
    <div class="contents-layout">
	<div class="Siltek-content-layout">
        <img width="700" height="23" alt=""  src="../../assets/interview%20skills.jpg"><br><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; ">After a round of Group Discussion, the candidates are short listed for the interview. For the employer, this is the medium to actually know the person beyond his test scores as well as to gauge his capabilities and talents and his ability to project himself as a suitable employee. The two phases of an interview are:</span><br style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><br style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><strong style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><span style="">A. The Technical Interview</span></strong><br style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; ">The technical interview is designed to measure the student's learning and understanding of specific concepts in his field of specialization viz. C, C++, Java, microprocessors, Electronics etc. It tests the level of knowledge in the talent area of a student</span><br style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><br style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><strong style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><span style="">B. HR Interview</span></strong><br style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; "><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 14px; ">The HR interview is a very critical process in the entire recruitment drive conducted by any organization, as it deals with the evaluation of a student as a prospective employee of the organization based on his calibration with the benchmarks that are set for any employee of the organization. The HR interview tests a students on his/her exposure to the practical aspect of his talents, strengths and area of opportunity, basic mannerisms and team working abilities and clarity of objectives and future goals.<br></span><br><br><br><br><br><br><br>
        <p>
        </p>
    </div>
    </div>



<!-- </div> -->



