
<!DOCTYPE html>

<!-- <div id="Siltek-main"> -->
    
    <!-- <div class="Siltek-sheet clearfix"> -->
<div class="contents-layout">
	<div class="Siltek-content-layout">
                
<p style="text-align: justify;"><img width="166" height="30px" alt=""  src="/assets/about us.png">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek Software Solutions was established in 2011 and is a rapidly growing Software Development and IT Consulting Company offering a broad range of software expertise and services with a strong customer focus.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek employs highly experienced managers, trained technical personnel and subject matter experts. We closely work with our customers to collect and document the requirements and develop comprehensive project plans that are effectively implemented, managed, deployed within the estimated time frame and cost constraints.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Since its inception, Siltek has steadily grown into a reputed provider of state-of-the-art and cost-effective software development services. Our ability to evolve and advance continuously and our open approach towards the dynamic business world have supported us to gain success in a short span of time. Today, Siltek provides onsite as well as off-shore software development services to its Clients globally.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek exercises open standards and commercial off the shelf technologies that bring responsive and adaptive solutions to our Clients. We also ensure that our Clients benefit from flexible solutions that maximize their returns on IT investment.</span><br></p>
<p>                 </p>                                
                
</div>
            </div>
    <!-- </div> -->


<!-- </div> -->



