
<!DOCTYPE html>

<!-- <div id="Siltek-main"> -->
    
    <!-- <div class="Siltek-sheet clearfix"> -->
<div class="contents-layout">
	<div class="Siltek-content-layout">
<p style="text-align: justify;"><img width="269" height="22" alt=""  src="../assets/overview.jpg"><br><span style="font-family: 'open sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><span style="font-weight: bold; ">Siltek Software Solutions (I) Pvt. Ltd.</span>&nbsp;having development office in INDIA and Office in Massachusetts, New Hampshire U.S.A, is one of the leading Software Development company with extensive experience in designing and development cutting edge software solutions. We are a group of highly motivated IT professionals with an ability to innovate a strong desire to excel. Siltek Software Solutions is a customer focused company working to provide software solutions, which are delivered with Relability, Timeliness, Flexibility and low cost customer satisfaction as the primary aim.&nbsp;</span></p><p style="text-align: justify;"><span style="font-family: 'open sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">The designing solutions are purely based on business and technical requirements of the project in hand. Software Development Life Cycle is strictly followed to ensure the timely delivery of the project without compromising on quality. Siltek Software Solutions provides a broad range of offshore outsourcing services including Application and Systems Level Programming on Leading Technologies. It also provides wide range of Networking Solutions for Corporates, Industries and Software Development Firms. Siltek Software Solutions has a niche in providing training to Engineering &amp; MCA Students. Thousands of Engineering students from Chandigarh, Punjab, Haryana, Rajasthan &amp; Himachal have successfully completed their Industrial and Summer Training. The focus of the Industrial Training is to facilitate students with Live Projects on latest technologies like VB.NET, ASP.NET, ORACLE DBA/DEVELOPER, J2EE, JDO, STRUTS, LINUX, Networking under the strict guidance of Industry Experts.</span></p><p></p><p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"></span><br></p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><br></p></div>
                                
                


            </div>
    <!-- </div> -->


<!-- </div> -->


