
<!DOCTYPE html>

<!-- <div id="Siltek-main"> -->
    <!-- <div class="Siltek-sheet clearfix"> -->
<div class="contents-layout">
	<div class="Siltek-content-layout">
    
<p><img width="269" height="22" alt=""  src="/assets/mission%20vission%20values.jpg"><br></p><p style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Vision</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Our main objective is to provide uncompromising
customer service and satisfaction irrespective of the type of product or
service offered</span><strong>
</strong><strong><span style="font-weight: normal; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">thereby building great strategic
partnerships.</span></strong></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">To create value and make a difference in the field
of education</span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Mission</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">To realize our Vision through efficient
communication, honesty and respect towards our team, clients and other entities
we deal or partner with by bringing in state-of-the-art software technologies
and top-notch project expertise</span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Our
Quality Policy</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Our key responsibility is to deliver maximum value
to our customers worldwide. In fulfillment of this effort, with the help of our
dedicated teamwork, we pledge to take the leadership both in development and
technology of e-commerce solutions. To adhere in letter and spirit to the
technical requirements, laid down systems, on-schedule delivery and inbuilt
quality – all essential for our products to be consistently the first choice of
our customers</span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Values</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Long race runner</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Big, multifaceted projects can be achieved only
when you have reliable stakeholders: business partners, customers, employees,
suppliers. This proved to be correct. Those who can engage themselves in the
long run are those that are to be most challenged and will be most satisfied
when achieving the finish line.</span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sharing</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Outstanding people make this company outstanding.
To share and learn by sharing is an attitude that one must have if there is a willingness
to develop both professionally and personally. After all, knowledge can be
unlimited. As a team we can evolve only by sharing the know-how, experience and
</span>&nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">best practices.</span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Dedicated</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">We are devoted to a goal and passionate about what we
are currently doing. We believe that dedication uplifts the quality of the
work.</span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Receptive and flexible</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">We understand that we need to be receptive to new
challenges – technology and business</span>&nbsp;
<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">alike. Flexibility, means to be able to adjust yourself and the using
the given resources to comply to the customer’s requirements while maintaining
a win-win situation.</span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Ethical</span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Business ethics / professional ethics guide all our
activity. Integrity, consciousness, respect for work and peers, responsibility
and correctness – all these define our understanding of an ethical attitude. It
is very important to be true to our principles, keep our promises and do what
we truly believe to be right.</span></p><p></p><p style="text-align: justify;"><br></p>
<p>                 </p>

</div>
                                
                


            </div>
    <!-- </div> -->


<!-- </div> -->


