<div class="contents-layout">
    <div class="Siltek-content-layout">
 <img width="114" height="28" alt=""  src="/assets/contact%20us-2.jpg" >   	
 
<%= render 'form', :inquiry => @inquiry %>
</div>
</div>