<!DOCTYPE html>
<html>
<head>
  <title>Siltek</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= stylesheet_link_tag    "flexslider", media: "all", "data-turbolinks-track" => true %>
  <%#= stylesheet_link_tag    "nivo-slider", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "slider", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "jquery.flexslider-min", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "jquery.flexslider", "data-turbolinks-track" => true %>
    <%#= javascript_include_tag "jquery.nivo.slider", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Siltek Software Solutions is a leading Global Software Development and IT Consulting Services & Training Company, offering an array of customized IT related solutions, services and training to its Clients globally. We provide the adaptability and commitment of a smaller firm combined with the vast experience and profound expertise of a large consultancy. We provide system integration and strategic Software Development right through to implementing IT solutions.

Siltek imparts realistic solutions that leverage technology to meet mutual business objectives. Our people are unsurpassed in the business, with extensive consulting experience, deep technical skills and strong business acumen. This caliber of talent, coupled with proven procedures and a practical technique, makes Siltek exclusively competent to tackle your most demanding problems.">
<meta name="keywords" content="Siltek, Siltek Software Solutions, Siltek Corporation, Siltek India, Siltek Panjagutta, Panjagutta, Hyderabad Siltek, Siltek Hyderabad, Siltek Software Solutions Private Limited, Siltek Corp, Siltek Soft, Pradad Reddy Dinasarapu">
</head>
<body>
<div class="main-header">
   
<div class="Siltek-object1343010599"></div>
<!-- <div class="Siltek-object132855161" data-left="92.72%"></div> -->
             

  <div class="smenu">
    <!-- <div class="Siltek-nav-inner"> -->
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="">HOME</a></li><li><a href="/aboutus/about" class="">ABOUT US</a><ul><li><a href="/aboutus/overview">Overview</a></li><li><a href="/aboutus/vision_mission_values">Vision,Mission &amp; Values</a></li><li></a></li></ul></li><li><a href="/training/training">TRAINING</a><ul><li><a href="/technology_training/technology_training">Technology Training</a><ul><li><a href="/technology_training/java_technologies">Java Technology</a></li><li><a href="/technology_training/microsoft_technologies">Microsoft Technologies</a></li><li><a href="/technology_training/google_android_technologies">Google Android Technology</a></li><li><a href="/technology_training/web_technologies">Web Technologies</a></li><li><a href="/technology_training/cloud_computing">Cloud Computing</a></li><li><a href="/technology_training/c_cpp_ds">C, C++, Data Structures</a></li><li><a href="/technology_training/php_mysql_training">PHP &amp; My SQL Training</a></li><li><a href="/technology_training/rubyonrails_technology">Ruby On Rails Technology</a></li><li><a href="/technology_training/database_training">Database Training</a></li></ul></li><li><a href="/campus_recruitment_training/campus_recruitment">Campus Recruitment Training</a><ul><li><a href="/campus_recruitment_training/aptitude_tests">Aptitude Tests</a></li><li><a href="/campus_recruitment_training/gd_process">Group Discussion Process</a></li><li><a href="/campus_recruitment_training/interview_skills">Interview Skills</a></li></ul></li><li><a href="/finishing_school/finishing_school">Finishing School</a></li><li><a href="/it_certification_training/it_certification_training">IT Certification Training</a></li><li><a href="/career_guidence/career_guidence">Career Guidance</a></li></ul></li><li><a href="/live_projects/live_projects">LIVE PROJECTS</a><ul><li><a href="/live_projects/industry_oriented_mini_projects">Industry Oriented Mini Projects</a></li><li><a href="/live_projects/academic_projects">Academic Projects</a></li></ul></li><li><a href="/services/service">SERVICES</a><ul><li><a href="/services/software_dev">Software Development</a></li><li><a href="/services/web_dev">Web Development</a></li><li><a href="/services/mobile_app_dev">Mobile Application Development</a></li></ul></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a></li><li><a href="/inquiries/new">CONTACT US</a></li></ul> 
        <!-- </div> -->
    </div>
    
</div><!-- header div -->


<div class="maincontainer"><!-- maincontainer start -->


<%= yield %>


</div><!-- maincontainer close -->
<!-- footer -->
    <div id="footer">
      <!-- shell -->
      <div class="shell">
        <!-- footer-cols -->
        <div class="footer-cols">
          <div class="col">
            <h2>SERVICES</h2>
            <ul>
              <li><a href="#">Nullam euismod quam vel</a></li>
              <li><a href="#">Quisque nec lacuss volutpat</a></li>
              <li><a href="#">Aenean bibendum lacus varius </a></li>
              <li><a href="#">Pellentesque sed nulla nec </a></li>
              <li><a href="#">Donec a velit nisi, ac dignissim</a></li>
            </ul>
          </div>

          <div class="col">
            <h2>SOLUTIONS</h2>
            <ul>
              <li><a href="#">Quisque nec lacuss volutpat</a></li>
              <li><a href="#">Aenean bibendum lacus varius </a></li>
              <li><a href="#">Nullam euismod quam vel</a></li>
              <li><a href="#">Pellentesque sed nulla nec </a></li>
              <li><a href="#">Donec a velit nisi, ac dignissim </a></li>
            </ul>
          </div>

          <div class="col">
            <h2>BLOG</h2>
            <ul>
              <li><a href="#">Quisque nec lacuss volutpat</a></li>
              <li><a href="#">Aenean bibendum lacus varius </a></li>
              <li><a href="#">Nullam euismod quam vel</a></li>
              <li><a href="#">Pellentesque sed nulla nec </a></li>
              <li><a href="#">Donec a velit nisi, ac dignissim </a></li>
            </ul>
          </div>

          <div class="col">
            <h2>CONTACT us</h2>

            <p>Email: <a href="#">info@websitename.com</a></p>
            <p>Phone: 655-606-605</p>
            <p>Address: East Pixel Bld. 99, </p>
            <p>Template City, 9000</p>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
        <!-- end of footer-cols -->
        <div class="footer-bottom">
          
          <p class="copy">Copyright &copy; 2012<span>|</span>Design by: <a href="http://chocotemplates.com" target="_blank">www.ChocoTemplates.com</a></p>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
      <!-- end of shell -->
    </div>
    <!-- footer -->
</body>
</html>
